.App {
  padding: 20px;
  max-width: 1800px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-title {
  color: #f1c40f;
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  gap: 20px;
  flex: 1;
  overflow: hidden;
}

.table-container {
  flex: 6.5;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: auto;
}

.fields-container {
  flex: 3.5;
  display: flex;
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
}